@model DAL.Models.Question

@{
    ViewBag.Title = "Details";
}

<div class="ps-4">
    <div class="description">
        @Html.DisplayFor(x => Model.Name)
    </div>
    <ol type="A">
        @{ 
            for (int i = 1; i <= Model.Answers.Count(); i++)
            {
                <li>
                    @Html.DisplayFor(x => Model.Answers[i - 1].Name)
                    @if (Model.Answers[i - 1].IsCorrect)
                    {
                        <span> (Correct answer)</span>
                    }
                </li>
            }
        }
    </ol>
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Create answer", "Create", "Answers", new { QuestionId = Model.Id, TestId = Model.TestId }, new { @class = "btn btn-default p-0" }) |
        @Html.ActionLink("Back to list", "Details", "Tests", new { Id = Model.TestId }, new { @class = "btn btn-default p-0" })
    </div>
</div>
