@model IEnumerable<DAL.Models.Test>

@{
    ViewBag.Title = "Index";
}

<div>
    @{
        foreach (DAL.Models.Test item in Model)
        {
            <div class="card-header p-0">
                <div class="name">
                    @Html.ActionLink(item.Name, "Details", "Tests", new { Id = item.Id }, new { @class = "nav-link px-2 text-black" })
                </div>
                <div class="count-of-question card-header">
                    @item.Questions.Count() question(s)
                </div>
            </div>
            <div class="card-body description p-2">
                @MvcHtmlString.Create(item.Description.Replace("\n", "<br>"))
            </div>
        }
    }
</div>
